
@{
    Layout = "_Layout";
}

<div class="evaluacion">
    <!--<h1>Evaluación</h1>-->
    <p>
        Responde las siguientes preguntas para evaluar tu conocimiento acerca del reciclaje. Juntos haremos de nuestra región
        un mejor lugar para vivir.
    </p>
    <form class="cuestionario">
        <fieldset>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>
            <div class="contenedor-pregunta">
                <label class="pregunta">¿En qué contenedor deben tirarse las cajas de pizza?</label>
                <div class="respuestas">

                    <div class="opcion"><input type="radio" name="pregunta1" id="1" /><label for="1">Recipiente azul</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="2" /><label for="2">Recipiente rojo</label></div>
                    <div class="opcion"><input type="radio" name="pregunta1" id="3" /><label for="3">Recipiente amarillo</label></div>
                    <div class="opcion"> <input type="radio" name="pregunta1" id="4" /><label for="4">Recipiente blanco</label></div>
                </div>
            </div>


            <input class="boton" type="submit" value="Evaluar" />
        </fieldset>
    </form>
    <div class="resultado">
        <h2 class="titulo">Tu resultado: (Calificación)</h2>
        <p>
            Descripción del nivel donde está.<br />
            Por ejemplo:
            Se encuentra en el segundo nivel de aprendizaje.
            Reconoce la importancia del reciclaje y el impacto que tiene con el medio ambiente.
            Desconoce la forma de separar los residuos.
            No tiene conocimiento acerca de qué hacer con los residuos que tienen la posibilidad de ser reciclados.

        </p>
    </div>
</div>