
@{
    Layout = "_Layout";
}


<section class="portafolio">
    <div class="contenedor">
        <h2 class="titulo">Bienvenido</h2>
        <div class="galeria-port">
            
            <div class="imagen-port">
                <img src="~/img/img1.jpg" alt="">
                <div class="hover-galeria">
                    <img src="~/img/icono1.png" alt="">
                    <p>Capacitatción</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="~/img/img2.jpg" alt="">
                <div class="hover-galeria">
                    <img src="img/icono1.png" alt="">
                    <p>Evaluación</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="~/img/img3.jpg" alt="">
                <div class="hover-galeria">
                    <img src="img/icono1.png" alt="">
                    <p>Recompensas</p>
                </div>
            </div>
            <div class="imagen-port">
                <img src="~/img/img4.jpg" alt="">
                <div class="hover-galeria">
                    <img src="img/icono1.png" alt="">
                    <p>Quienes somos?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestro proyecto</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="img/mundo.jpg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <!--<h3><span>1</span>Los mejores productos</h3>-->
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                velit doloribus laboriosam ut.
            </p>
            <!--<h3><span>2</span>Los mejores productos</h3>-->
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                velit doloribus laboriosam ut.Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                velit doloribus laboriosam ut.
            </p>
        </div>
    </div>
</section>

