@{
    Layout = "_Layout";
}

<!--<div class="header">
            <h1>Nosotros</h1>
        </div>-->
<div class="nosotros">
    <div class="nos-descripcion">
        <p>
            Una oportunidad increíble lo está esperando. La tecnología está cambiando el mundo porque conecta miles de millones de dispositivos y mejora nuestra forma de vivir, trabajar, jugar y tratar a nuestro planeta. Ninguna industria es inmune. ¿Está listo para cambiar su vida y, posiblemente, hacer del mundo un lugar mejor?
        </p>

    </div>
    <div class="nos-descripcion2">
        <div class="mvv">
            <h2>Misión</h2>
            <p>Somos un negocio pequeño que busca hacer la vida de nuestros clientes más deliciosa mediante la comercialización de productos de repostería fina de alta calidad e higiene con el toque casero que nos distingue. Estamos deseosos de participar en los eventos más especiales día a día, brindándote un valor agregado.</p>
        </div>
        <div class="mvv">
            <h2>Visión</h2>
            <p>Consolidarnos como la cadena de pastelerías más grande en México con presencia en todos los Estados de la República conquistando el paladar de la mayor parte de las familias mexicanas con nuestras deliciosas recetas.</p>
        </div>

    </div>
    <div class="nos-descripcion">
        <h1>Contacto</h1>
        <p>
            Una oportunidad increíble lo está esperando. La tecnología está cambiando el mundo porque conecta miles de millones de dispositivos y mejora nuestra forma de vivir, trabajar, jugar y tratar a nuestro planeta. Ninguna industria es inmune. ¿Está listo para cambiar su vida y, posiblemente, hacer del mundo un lugar mejor?
        </p>

    </div>

</div>

