@{
    Layout = "_Layout";
}

<!--<img alt="Foto de capacitate aqui" />-->
<div class="capacitacion">
    <div class="panel-nivel">
        <a class="nivel-boton">Nivel 1</a>
        <a class="nivel-boton">Nivel 2</a>
        <a class="nivel-boton">Nivel 3</a>
        <a class="nivel-boton">Nivel 4</a>
        <!--<input type="button" value="Nivel 1" />
        <input type="button" value="Nivel 2" />
        <input type="button" value="Nivel 3" />
        <input type="button" value="Nivel 4" />-->
    </div>
    <section class="nivel-video">

        <div class="video">
            <h2 class="titulo">Video 1</h2>
            <!--<video controls="controls" src="videos/secuenciador.mp4">
    </video>-->
            @*<video controls="controls" width="500" height="300" poster="img/carton-franjas.jpg">

            <source src="https://youtu.be/lG1h2cxZByM" type="audio/mp4" />
            Este navegador no reproduce videos
        </video>*@
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QX06IlZ9LLY" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="video">
            <h2 class="titulo">Video 2</h2>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/lG1h2cxZByM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <div class="video">
            <h2 class="titulo">Video 3</h2>

            <video controls="controls" width="500" height="300" poster="img/basurero.jpg">

                <source src="videos/videoprueba.mp4" type="audio/mp4" />
                Este navegador no reproduce videos
            </video>

        </div>
    </section>
    <div class="toma-evaluacion">
        <label>Estas preparado para tu evaluación?</label>
        <input class="boton" type="submit" value="Tomar Prueba" />
    </div>
</div>