
@{
    Layout = "_Layout";
}


<section class="portafolio">
    <div class="contenedor">
        <h2 class="titulo">Bienvenido</h2>
        <div class="galeria-port">
            
            <div class="imagen-port">
                <img src="~/img/img1.jpg" alt="">
                <div class="hover-galeria">
                    <a href="~/Home/Capacitate">
                        <img src="~/img/icono1.png" alt="">
                        <p>Capacitatción</p>
                    </a>
                </div>
            </div>
            <div class="imagen-port">
                <img src="~/img/img2.jpg" alt="">
                <div class="hover-galeria">
                    <a href="~/Home/Evaluacion">
                    <img src="img/icono1.png" alt="">
                    <p>Evaluación</p>
                     </a>
                </div>
            </div>
            <div class="imagen-port">
                <img src="~/img/img3.jpg" alt="">
                <div class="hover-galeria">
                    <a  href="~/Home/Recompensas">
                    <img src="img/icono1.png" alt="">
                    <p>Recompensas</p>
                        </a>
                </div>
            </div>
            <div class="imagen-port">
                <img src="~/img/img4.jpg" alt="">
                <div class="hover-galeria">
                    <a>
                    <img src="img/icono1.png" alt="">
                    <p>Quienes somos?</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestro proyecto</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="img/mundo.jpg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <!--<h3><span>1</span>Los mejores productos</h3>-->
            <p>
                Somos un equipo de ciudadanos preocupados por el medio ambiente. 
                Con la certeza de que podemos tener un mejor ecosistema si trabajamos todos juntos.
                Decidimos poner en práctica un sistema en la Región carbonífera de Coahuila que ayuda a instituciones
                educativas a obtener un beneficio a partir del aprendizaje de la clasificación de residuos
                sólidos urbanos. 
                
            </p>
            <!--<h3><span>2</span>Los mejores productos</h3>-->
            <p>
                En nuestra plataforma encontraras valioso contenido que te capacitará para ser un 
                estudiante o docente con conocimientos en el reciclaje y el tratado de residuos. <br /><br />
                ¿Listo o lista para aprender? ¡Comencemos!
            </p>
        </div>
    </div>
</section>

