@{
    Layout = "_Layout";
}

<!--<div class="header">
            <h1>Nosotros</h1>
        </div>-->
<div class="nosotros">
    <div class="nos-descripcion">
        <p>
            Somos un equipo de personas preocupadas por el medio ambiente y con la iniciativa de enseñar a personal
            y alumnos de escuelas educativas de nivel básico de la Región Carbonífera en el Estado de Coahuila.

            
        </p>

    </div>
    <div class="nos-descripcion2">
        <div class="mvv">
            <h2>Misión</h2>
            <p>Proveer una plataforma con recursos de calidad que eduque y capacite a ciudadanos responsables
            y comprometidos con el medio ambiente.
            Ser el vínculo de empresas e instituciones educativas que están decididas a realizar un cambio 
            en nuestro entorno ecológico y que a su vez, gestionar apoyos en especie para las escuelas
            que favorezcan el desarrollo del reciclaje de los residuos sólidos urbanos.
            .</p>
        </div>
        <div class="mvv">
            <h2>Visión</h2>
            <p>Consolidarnos como un equipo líder en la capacitación de alumnos y docentes durante la
            adquisición de conocimiento acerca del reciclaje.
            Tener en nuestro equipo a empresas nacionales e internacionales que estén dispuestos a apoyar
            a alumnos y maestros que deseen cambiar a México.</p>
        </div>

    </div>
    <div class="nos-descripcion">
        <h1>Contacto</h1>
        <p>
            Empresas y activistas que deseen colaborar con esta gran iniciativa
            pueden contactarnos en itesrc@itesrc.tecnm.mx            
        </p>

    </div>

</div>

