@{
    Layout = "_Layout";
}


<img />
<div class="recompensa">
    <div>
        <!--<label>Titulo</label>-->
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
            consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
            velit doloribus laboriosam ut.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
            consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
            velit doloribus laboriosam ut.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
            consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
            velit doloribus laboriosam ut.
        </p>
    </div>
    <!--<div class="nivel">
        <label>Nivel 1</label>
        <ul>
            <li>Premio 1</li>
            <li>Premio 2</li>
            <li>Premio 3</li>
        </ul>
    </div>
    <div class="nivel">
        <label>Nivel 2</label>
        <ul>
            <li>Premio 1</li>
            <li>Premio 2</li>
            <li>Premio 3</li>
        </ul>
    </div>
    <div class="nivel">
        <label>Nivel 2</label>
        <ul>
            <li>Premio 1</li>
            <li>Premio 2</li>
            <li>Premio 3</li>
        </ul>
    </div>
    <div class="nivel">
        <label>Nivel 2</label>
        <ul>
            <li>Premio 1</li>
            <li>Premio 2</li>
            <li>Premio 3</li>
        </ul>
    </div>-->

    <section class="nivel">
        <div class="contenedor-nivel">
            <h2 class="titulo">Nivel 1</h2>
            <div class="galeria-port-nivel">
                <div class="imagen-port-nivel">
                    <img src="~/img/img1.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Primer Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/img1.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Segundo Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/img1.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Tercer Premio</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="nivel">
        <div class="contenedor-nivel">
            <h2 class="titulo">Nivel 2</h2>
            <div class="galeria-port-nivel">
                <div class="imagen-port-nivel">
                    <img src="~/img/img1.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Primer Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/img1.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Segundo Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/img1.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Tercer Premio</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="nivel">
        <div class="contenedor-nivel">
            <h2 class="titulo">Nivel 3</h2>
            <div class="galeria-port-nivel">
                <div class="imagen-port-nivel">
                    <img src="~/img/img1.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Primer Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/img1.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Segundo Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/img1.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Tercer Premio</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
