@{
    Layout = "_Layout";
}


<img />
<div class="recompensa">
    <div>
        <!--<label>Titulo</label>-->
        <p>
            Saber trabajar en equipo es una gran herramienta. Te mostramos las posibiles recompensas que pueden obtener por institución educativa
            de acuerdo a su avance.<br />
            Las recompensas son sujetas a cambio basados en los patrocinios y aportaciones de empresas que se unen a la causa. <br />
            La cantidad de contenedores que se puede proporcionar a una institución es totalmente proporcional al número de estudiantes que conforman la
            institución educativa.
        </p>
    </div>
    <!--<div class="nivel">
        <label>Nivel 1</label>
        <ul>
            <li>Premio 1</li>
            <li>Premio 2</li>
            <li>Premio 3</li>
        </ul>
    </div>
    <div class="nivel">
        <label>Nivel 2</label>
        <ul>
            <li>Premio 1</li>
            <li>Premio 2</li>
            <li>Premio 3</li>
        </ul>
    </div>
    <div class="nivel">
        <label>Nivel 2</label>
        <ul>
            <li>Premio 1</li>
            <li>Premio 2</li>
            <li>Premio 3</li>
        </ul>
    </div>
    <div class="nivel">
        <label>Nivel 2</label>
        <ul>
            <li>Premio 1</li>
            <li>Premio 2</li>
            <li>Premio 3</li>
        </ul>
    </div>-->

    <section class="nivel">
        <div class="contenedor-nivel">
            <h2 class="titulo">Nivel 1</h2>
            <div class="galeria-port-nivel">
                <div class="imagen-port-nivel">
                    <img src="~/img/taparroscas.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Primer Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/contenedor-aluminio.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Segundo Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/contenedor.png" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Tercer Premio</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="nivel">
        <div class="contenedor-nivel">
            <h2 class="titulo">Nivel 2</h2>
            <div class="galeria-port-nivel">
                <div class="imagen-port-nivel">
                    <img src="~/img/contenedor.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Primer Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/container.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Segundo Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/canasta-container.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Tercer Premio</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="nivel">
        <div class="contenedor-nivel">
            <h2 class="titulo">Nivel 3</h2>
            <div class="galeria-port-nivel">
                <div class="imagen-port-nivel">
                    <img src="~/img/bolsa-reusable.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Primer Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/cestos.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Segundo Premio</p>
                    </div>
                </div>
                <div class="imagen-port-nivel">
                    <img src="~/img/cont-colores.jpg" alt="">
                    <div class="hover-galeria-nivel">
                        <img src="~/img/icono2.png" alt="">
                        <p>Tercer Premio</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
